Services/flow/flows.json
[{"id":"fbcbdba9.5a2be8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a9353e5e.b8b04","type":"mqtt in","z":"fbcbdba9.5a2be8","name":"MQTT","topic":"app/#","qos":"2","datatype":"auto","broker":"3a913820.cb50b8","x":70,"y":120,"wires":[["34c9e8e0.c16188"]]},{"id":"34c9e8e0.c16188","type":"function","z":"fbcbdba9.5a2be8","name":"Formateo Mess","func":"// {\"temperature\":\"33.24\",\"pressure\":\"4.23\",\"humidity\":\"5.12\",\"uuid\":\"AAAA\"}\nvar topic = String(msg.topic).split(\"/\");\nvar msj = String(msg.payload);\n\nwhile (msj.indexOf(\"'\") >= 0){\n    var newStr = msj.replace(\"'\", \"\\\"\");\n    msj = newStr;\n}\n\nmsj = JSON.parse(msj);\n\nvar out ={};\n//out.topic = topic;\nout.data = msj;\nreturn out;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":200,"wires":[["1d72c020.1dc27","3c695f57.fffd9"]],"inputLabels":["json"]},{"id":"704095ce.89175c","type":"mqtt out","z":"fbcbdba9.5a2be8","name":"Broker","topic":"app/device","qos":"0","retain":"","broker":"3a913820.cb50b8","x":270,"y":340,"wires":[]},{"id":"62afc623.c223d8","type":"inject","z":"fbcbdba9.5a2be8","name":"Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"temperature\":\"33.24\",\"pressure\":\"4.23\",\"humidity\":\"5.12\", \"device_id\": \"2\"}","payloadType":"str","x":90,"y":340,"wires":[["704095ce.89175c"]]},{"id":"1d72c020.1dc27","type":"http request","z":"fbcbdba9.5a2be8","name":"Obtener dispositvo","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.244:8000/api/device/list/{{data.uuid}}","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":40,"wires":[["8a85e7eb.273688"]]},{"id":"8a85e7eb.273688","type":"function","z":"fbcbdba9.5a2be8","name":"Formateo Dev","func":"var msj = JSON.parse(msg.payload);\nvar device_id = msj;\nreturn device_id","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":40,"wires":[["312b3f93.7a5ce"]],"inputLabels":["json"]},{"id":"3c695f57.fffd9","type":"template","z":"fbcbdba9.5a2be8","name":"Estructura","field":"data","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"temperature\":\"{{data.temperature}}\",\n    \"pressure\":\"{{data.pressure}}\",\n    \"humidity\":\"{{data.humidity}}\"\n}","output":"json","x":410,"y":200,"wires":[["312b3f93.7a5ce"]]},{"id":"312b3f93.7a5ce","type":"join","z":"fbcbdba9.5a2be8","name":"","mode":"custom","build":"array","property":"data","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":100,"wires":[["31e19ec7.3cf7a2"]]},{"id":"31e19ec7.3cf7a2","type":"function","z":"fbcbdba9.5a2be8","name":"Depuracion","func":"// {\"temperature\":\"\",\"pressure\":\"\",\"humidity\":\"\",\"device_id\":\"\"}\nvar dataSet = msg.data;\nvar device = msg.data[1][0];\n\nrequest = {};\nrequest.device_id = String(device.id);\nrequest.temperature = String(dataSet[0].temperature);\nrequest.pressure = String(dataSet[0].pressure);\nrequest.humidity = String(dataSet[0].humidity);\n\nreturn request;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":100,"wires":[["19fc9b0c.3ae0c5"]],"inputLabels":["json"]},{"id":"81e414b.6b76de8","type":"http request","z":"fbcbdba9.5a2be8","name":"Enviar Medicion","method":"POST","ret":"obj","paytoqs":"ignore","url":"192.168.244:8000/api/measurement","tls":"","persist":true,"proxy":"","authType":"","x":560,"y":300,"wires":[["ffa09293.65184"]]},{"id":"ffa09293.65184","type":"debug","z":"fbcbdba9.5a2be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":300,"wires":[]},{"id":"19fc9b0c.3ae0c5","type":"template","z":"fbcbdba9.5a2be8","name":"Casteo","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"temperature\":\"{{temperature}}\",\n    \"pressure\":\"{{pressure}}\",\n    \"humidity\":\"{{humidity}}\",\n    \"device_id\":\"{{device_id}}\"\n}","output":"str","x":600,"y":160,"wires":[["23659cc3.6f9104","e1252589.d008b8"]]},{"id":"23659cc3.6f9104","type":"debug","z":"fbcbdba9.5a2be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":160,"wires":[]},{"id":"e1252589.d008b8","type":"change","z":"fbcbdba9.5a2be8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":220,"wires":[["81e414b.6b76de8"]]},{"id":"3a913820.cb50b8","type":"mqtt-broker","z":"","name":"RBPi4","broker":"192.168.0.200","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]